{% extends 'templateForm.html.twig' %}

{% block title %}Tabela Druzyna{% endblock %}

{% block header %}
    <h2>Edycja drużyny</h2>
{% endblock %}

{% block form %}

    <form id="signupForm" action="{{ url }}druzyna/update" method="POST" enctype="multipart/form-data">

      <div class="form-group">
         <img src="{{ url }}{{ druzyny.logo }}" id="uploadPreview" style="width: 100px; height: 120px;" /><br/><br/>
         <label for="logo">Wybierz logotyp</label>
         <input type="file" class="form-control" id="logo" name="logo" accept="image/*" onchange="PreviewImage();">
      </div>
      <div class="form-group">
        <label for="nazwa">Nazwa drużyny</label>
        <input type="text" class="form-control" id="nazwa" name="nazwa" value="{{druzyny.nazwa}}">
      </div>
      <div class="form-group">
        <label for="id_liga">Wybierz ligę</label>
          <select name="id_liga" class="form-control">
              <option value="">--Wybierz ligę--</option>
              {% for liga in ligi %}
                {% if liga.id_liga == druzyny.id_liga %}
                    <option value={{liga.id_liga}} selected>"{{liga.nazwa}}"</option>
                {% else %}
                    <option value={{liga.id_liga}}>"{{liga.nazwa}}"</option>
                {% endif %}
              {%  endfor %}
          </select>
      </div>

      <input type="hidden" id="logoBezZmian" name="logoBezZmian" value="{{ druzyny.logo }}" />

      <input type="hidden" id="id_druzyna" name="id_druzyna" value={{id}}>
      <button type="submit" class="btn btn-info">Edytuj dane</button>

    </form>



    <!-- <script type="text/javascript">

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("logo").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

    </script> -->

{% endblock %}
